.button {
    width: 210px;
    height: 64px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5;
    color: $color-white;

    border: none;
    border-radius: 122px;
    background: $color-red;

    transition: background 0.2s ease-in-out;
    cursor: pointer;

    &__up {
        position: fixed;
        bottom: 20px;
        right: 20px;

        z-index: 100;

        width: 100px;
        height: 100px;

        display: none;

        border-radius: 50%;

        svg path {
            fill: $color-white;
        }
    }

    &:hover {
        background: darken($color-red, 4%);
    }
}

@media (max-width: 1080px) {
    .button {
        &__up {
            width: 80px;
            height: 80px;

            svg {
                width: 35px;
                height: 19px;
            }
        }
    }
}

@media (max-width: 520px) {
    .button {
        &__up {
            width: 60px;
            height: 60px;

            svg {
                width: 30px;
                height: 14px;
            }
        }
    }
}
