.button {
    width: 210px;
    height: 64px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5;
    color: $color-white;

    border: none;
    border-radius: 122px;
    background: $color-red;

    transition: background 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
        background: darken($color-red, 4%);
    }
}
