.explore-numbers {
    background: url('../images/explore-numbers-bg-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.explore {
    &__inner {
        padding: 120px 0 900px;
    }

    &__title {
        margin-bottom: 45px;

        font-size: 50px;
        line-height: 1.5;
        text-align: center;
    }

    &__slider-container {
        position: relative;
        padding: 0 50px;
    }

    &__slider {
        width: 100%;
        height: 260px;
    }

    &__slider-img {
        height: 100%;

        border-radius: 10px;

        object-fit: cover;
        object-position: center;
    }

    &__slider-navigatuin-next::after {
        content: url('../images/next-icon.svg');
    }

    &__slider-navigatuin-prev::after {
        content: url('../images/prev-icon.svg');
    }

    &__slider-pagination {
        bottom: -40px !important;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    &__slider-pagination-bullet {
        width: 20px;
        height: 20px;

        display: inline-block;

        background-color: $color-grey;

        border-radius: 50%;

        transition: all 0.2s ease-in-out;

        cursor: pointer;

        &--active {
            width: 50px;
            background-color: $color-red;
            border-radius: 60px;
        }
    }
}

.numbers {
    background: rgba(#020c21, 0.9);
    &__inner {
        padding: 200px 0;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        margin-bottom: 36px;

        color: $color-white;
    }

    &__description {
        margin-bottom: 40px;

        max-width: 500px;

        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0.5px;

        color: $color-text;

        text-align: center;
    }

    &__list {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 40px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;

        text-align: center;
    }

    &__item-number {
        margin-bottom: 20px;

        font-weight: 700;
        font-size: 42px;
        line-height: 49px;
        letter-spacing: 0.36px;

        color: $color-red;
    }

    &__item-description {
        max-width: 350px;

        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0.5px;

        color: $color-text;
    }
}

@media (max-width: 1080px) {
    .explore {
    }

    .numbers {
        &__inner {
            padding: 120px 0;
        }
    }
}

@media (max-width: 900px) {
    .numbers {
        &__list {
            flex-wrap: wrap;
            justify-content: center;
            gap: 30px;
        }
    }
}

@media (max-width: 900px) {
    .explore {
        &__inner {
            padding-top: 80px;
        }
    }
    .numbers {
        &__inner {
            padding: 80px 0;
        }
    }
}

@media (max-width: 760px) {
    .explore {
        &__slider-pagination {
            gap: 20px;
        }
    }
}

@media (max-width: 520px) {
    .explore {
        &__inner {
            padding: 30px 0 400px;
        }

        &__title {
            margin-bottom: 20px;
            font-size: 36px;
            line-height: 1.2;
        }

        &__slider-container {
            padding: 0;
        }

        &__explore__slider-pagination {
            gap: 10px;
        }

        &__slider-pagination-bullet {
            width: 10px;
            height: 10px;
        }
    }

    .numbers {
        &__inner {
            padding: 60px 0;
        }

        &__title {
            margin-bottom: 20px;
            text-align: center;
        }

        &__list {
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
        }
    }
}

@media (max-width: 420px) {
    .explore {
        &__inner {
            padding: 30px 0 360px;
        }
    }
}
