.photo-gallery {
    &__inner {
        padding: 170px 0 220px;
    }

    &__title {
        margin-bottom: 40px;

        text-align: center;
    }

    &__description {
        margin: 0 auto 70px;

        max-width: 510px;

        font-weight: 400;
        font-size: 18px;
        line-height: 28px;

        color: $color-paragraph-dark;

        text-align: center;
    }
}

.gallery {
    width: 100%;
    max-height: 770px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
        'image1 image2 image3'
        'image1 image5 image3'
        'image1 image5 image6'
        'image4 image5 image6';
    &__item {
        object-fit: fill;
    }

    &__item {
        &:nth-child(1) {
            grid-area: image1;
        }
        &:nth-child(2) {
            grid-area: image2;
        }
        &:nth-child(3) {
            grid-area: image3;
        }
        &:nth-child(4) {
            grid-area: image4;
        }
        &:nth-child(5) {
            grid-area: image5;
        }
        &:nth-child(6) {
            grid-area: image6;
        }
    }

    &__item-link {
        display: block;
        width: 100%;
        height: 100%;
    }

    &__item-img {
        width: 100%;
        height: 100%;
        object-fit: cover;

        border-radius: 10px;
    }
}

@media (max-width: 900px) {
    .photo-gallery {
        &__inner {
            padding: 80px 0;
        }

        &__title {
            margin-bottom: 30px;
        }

        &__description {
            margin: 0 auto 50px;
        }
    }
    .gallery {
        max-height: none;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-template-areas:
            'image1 image2'
            'image1 image5'
            'image4 image5'
            'image3 image6'
            'image3 image6';
        gap: 20px;
    }
}

@media (max-width: 520px) {
    .photo-gallery {
        &__inner {
            padding: 30px 0 40px;
        }

        &__title {
            margin-bottom: 20px;
        }

        &__description {
            margin: 0 auto 40px;
        }
    }

    .gallery {
        gap: 15px;
    }
}
