.steps {
    background-color: #dce8f2;
    &__inner {
        padding: 120px 0;
        min-height: 200px;
    }

    &__title {
        margin-left: 70px;
        margin-bottom: 45px;
    }

    &__list {
        margin-bottom: 20px;
    }

    &__item {
        position: relative;
        padding-bottom: 80px;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 30px;

            width: 1px;
            height: 100%;

            background: rgba($color-light-text, 0.4);
            opacity: 0.3;
        }

        &:nth-child(3) {
            padding-bottom: 0;

            &::before {
                content: none;
            }
        }
    }

    &__order {
        position: relative;
        z-index: 10;
        margin-right: 45px;

        width: 60px;
        height: 60px;

        display: inline-flex;
        align-items: center;
        justify-content: center;

        font-weight: 500;
        font-size: 26px;
        line-height: 38px;

        color: $color-white;
        background: $color-red;
        border-radius: 50%;
    }

    &__item-title {
        margin-bottom: 28px;

        font-weight: 700;
        font-size: 26px;
        line-height: 41px;
        color: $color-blue;
    }

    &__item-description {
        padding-left: 110px;
        font-weight: 400;
        font-size: 24px;
        line-height: 38px;
        color: rgba($color-light-text, 0.4);

        & + & {
            margin-top: 80px;
        }
        &--image {
            display: flex;
            align-items: center;
        }
    }

    &__item-img {
        margin-right: 45px;

        width: 250px;
        height: 165px;

        flex-shrink: 0;

        object-fit: cover;
        object-position: 0 75%;

        border-radius: 8px;
    }

    &__item-wrapper {
        max-width: 480px;
    }

    &__button {
        margin-left: 110px;
    }
}
