.steps {
    background-color: #dce8f2;
    &__inner {
        padding: 120px 0;
        min-height: 200px;
    }

    &__title {
        margin-left: 70px;
        margin-bottom: 45px;
    }

    &__list {
        margin-bottom: 20px;
    }

    &__item {
        position: relative;
        padding-bottom: 80px;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 30px;

            width: 1px;
            height: 100%;

            background: rgba($color-light-text, 0.4);
            opacity: 0.3;
        }

        &:nth-child(3) {
            padding-bottom: 0;

            &::before {
                content: none;
            }
        }
    }

    &__order {
        position: relative;
        z-index: 10;
        margin-right: 45px;

        width: 60px;
        height: 60px;

        display: inline-flex;
        align-items: center;
        justify-content: center;

        font-weight: 500;
        font-size: 26px;
        line-height: 38px;

        color: $color-white;
        background: $color-red;
        border-radius: 50%;
    }

    &__item-title {
        margin-bottom: 28px;

        font-weight: 700;
        font-size: 26px;
        line-height: 41px;
        color: $color-blue;
    }

    &__item-description {
        position: relative;

        margin-left: 40px;
        padding-left: 70px;
        font-weight: 400;
        font-size: 24px;
        line-height: 38px;
        color: rgba($color-light-text, 0.4);

        & + & {
            margin-top: 80px;
        }
        &--image {
            display: flex;
            align-items: center;
        }
    }

    &__item-img {
        margin-right: 45px;

        width: 250px;
        height: 165px;

        flex-shrink: 0;

        object-fit: cover;
        object-position: 0 75%;

        border-radius: 8px;
    }

    &__item-wrapper {
        max-width: 480px;
    }

    &__button {
        margin-left: 110px;
    }

    &__show-more {
        position: absolute;
        bottom: 0px;
        left: 50%;
        z-index: 10;
        transform: translateX(-50%);

        padding: 4px 8px;

        display: none;

        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.5px;

        color: $color-red;
        background: #dce8f2;
        border: 1px solid red;

        cursor: pointer;
        user-select: none;
    }
}

@media (max-width: 1080px) {
    .steps {
        &__item-description {
            height: 80px;

            overflow: hidden;
            text-overflow: ellipsis;

            transition: height 0.2s ease-in-out;

            p {
                text-overflow: ellipsis;
            }

            &--active {
                padding-bottom: 40px;
                height: auto;
            }
        }

        &__show-more {
            display: inline-block;
        }
    }
}

@media (max-width: 900px) {
    .steps {
        &__inner {
            padding: 80px 0;
        }

        &__title {
            margin-left: 0;
            text-align: center;
        }

        &__item {
            padding-bottom: 50px;
            &::before {
                content: none;
            }
        }

        &__item-description {
            margin-left: 0;
            padding-left: 0;
            text-align: center;
            &--image {
                height: 230px;
                flex-direction: column;
            }

            &--active {
                height: auto;
            }

            & + & {
                margin-top: 50px;
            }
        }

        &__item-img {
            margin-bottom: 20px;
            margin-right: 0;
            height: 200px;
            width: 320px;
        }

        &__item-wrapper {
            max-width: 100%;
        }

        &__item-title {
            text-align: center;
        }

        &__button {
            margin: 0 auto;
        }
    }
}

@media (max-width: 520px) {
    .steps {
        &__inner {
            padding: 30px 0;
        }

        &__item {
            padding-bottom: 30px;
        }

        &__item-title {
            margin-bottom: 15px;

            font-size: 24px;
            line-height: 1.5;
        }

        &__order {
            width: 56px;
            height: 56px;

            display: flex;
            margin: 0 auto 20px;
        }

        &__item-description {
            height: 60px;
            font-size: 18px;
            line-height: 28px;

            &--image {
                height: 230px;
            }

            &--active {
                height: auto;
            }

            & + & {
                margin-top: 30px;
            }
        }

        &__button {
            display: none;
        }
    }
}
