.video {
    background: url('../images/video-bg-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &__inner {
        padding: 140px 0 210px;
    }

    &__info {
        max-width: 1050px;

        margin: 0 auto 70px;

        font-weight: 700;
        font-size: 42px;
        line-height: 50px;

        color: $color-white;
        text-align: center;
    }

    &__player {
        position: relative;

        margin: 0 auto 125px;

        max-width: 1050px;
        max-height: 600px;

        overflow: hidden;
    }

    &__player-img {
        object-fit: cover;
    }

    &__play-button {
        position: absolute;
        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);

        width: 100px;
        height: 100px;

        display: flex;
        align-items: center;
        justify-content: center;

        background: $color-action;
        border: none;
        border-radius: 50%;

        cursor: pointer;

        transition: background 0.2s ease-in-out;

        svg path {
            fill: $color-white;

            transition: fill 0.2s ease-in-out;
        }

        &:hover {
            background: darken($color-action, 4%);

            svg path {
                fill: darken($color-white, 4%);
            }
        }
    }

    &__previews {
        display: flex;
        justify-content: space-between;

        gap: 70px;
    }

    &__preview-item {
        display: flex;
    }

    &__preview-img {
        margin-right: 40px;

        flex-shrink: 0;

        width: 250px;
        height: 150px;
        object-fit: cover;
        object-position: center;
    }

    &__preview-info {
        display: flex;
        flex-direction: column;
    }

    &__preview-title {
        margin-bottom: 15px;

        max-width: 300px;

        font-weight: 700;
        font-size: 18px;
        line-height: 1.5;

        color: $color-white;
    }

    &__preview-description {
        max-width: 330px;

        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0.5px;

        color: rgba($color-white, 0.7);
    }
}

@media (max-width: 1080px) {
    .video {
        &__previews {
            gap: 70px;
            justify-content: center;
        }

        &__preview-item {
            flex-direction: column;
            align-items: center;
        }

        &__preview-img {
            margin-right: 0;
            margin-bottom: 20px;
        }

        &__preview-title {
            text-align: center;
        }

        &__preview-description {
            text-align: center;
        }
    }
}

@media (max-width: 900px) {
    .video {
        &__inner {
            padding: 80px 0;
        }

        &__info {
            font-size: 38px;
            line-height: 46px;
        }

        &__play-button {
            width: 80px;
            height: 80px;
        }
    }
}
@media (max-width: 640px) {
    .video {
        &__previews {
            gap: 20px;
        }
    }
}

@media (max-width: 560px) {
    .video {
        &__previews {
            flex-direction: column;
            gap: none;
        }

        &__player {
            margin: 0 auto 60px;
        }

        &__preview-item {
            & + & {
                margin-top: 20px;
            }
        }
    }
}

@media (max-width: 520px) {
    .video {
        &__inner {
            padding: 30px 0;
        }

        &__info {
            font-size: 34px;
            line-height: 42px;
        }

        &__play-button {
            width: 60px;
            height: 60px;
        }
    }
}
