$container-large-width: 1810px;
$container-width: 1310px;

// COLORS

$color-red: #dd2242;
$color-blue: #010a20;
$color-white: #ffffff;
$color-black: #000000;
$color-text: #e0e0e0;
$color-grey: #85a3b2;
$color-light-text: #151439; // 40%
$color-paragraph-dark: #6f7787;
$color-action: #e93a7d;
